# macOS
.DS_Store

# local env files
.env*.local

# Python
__pycache__/
.pytest_cache/
.ruff_cache/
.venv/
venv/
*.pyc

# chatbot server
chatbot-server/.venv/
chatbot-server/.pytest_cache/
chatbot-server/.mypy_cache/
